=content_for(:title, "Listing User Accounts")
= link_to 'Destroy All', destroy_all_users_path ,:class => "btn btn-danger", :data => { :confirm => 'Are you sure?' }
%br/
%br/
%table.table.table-striped.table-hover
  %tr
    %th Email
    %th admin
    %th 
    %th 

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.admin
      %td= link_to 'Edit', edit_user_path(user), :method => :get, :class => "btn btn-link"
      %td= link_to 'Destroy', user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-link"
