.container-full
  .row
    .text-center.v-center
      %h1{:class => "title"} SHPE Test Bank
      %p.lead Be ready for your test

      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login form form-horizontal'}) do |f|
        .form-group
          = f.label :email, :class => "col-sm-2 control-label", :style => "text-align: left;"
          = f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Enter your email address", :title => "You need to be a paid member in order to log in"
        .form-group
          = f.label :password,  :class => "col-sm-2 control-label", :style => "text-align: left;"
          = f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Enter your password"
        - if devise_mapping.rememberable?
          .form-group
            %label
              %input{:type => "checkbox"}/
              Remember me


        .actions
          =f.submit 'Log in',:class => "btn btn-lg btn-primary", :style => "color: white !important;"
      = render "devise/shared/links" 
        
  / /row
  .row
    .col-lg-12.text-center.v-center{:style => "font-size:39pt;"}
      %a{:href => "http://tamushpe.org/"}
        %i.icon-globe
      %a{:href => "https://www.facebook.com/groups/SHPETamu/"}
        %i.icon-facebook
      %a{:href => "https://twitter.com/tamushpe"}
        %i.icon-twitter
      %a{:href => "https://github.com/bote795/SHPETestBank"}
        %i.icon-github
      %a{:href => "https://instagram.com/tamushpe/"}
        %i.icon-instagram
  %br/
/ /container full
.container
  %hr/
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Practice Makes Perfect
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit amet augue.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Automated System
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit amet augue.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Earn points with your tests!
        .panel-body
          For every test your submit, you will get ....
  .row
    .col-lg-12
      %br/
      %br/
      %p.pull-right
        %a{:href => "https://github.com/TAMUSHPE"} Programmed by TAMU SHPE Programmers
        ©Copyright 2015 TAMUSHPE
      %br/
      %br/
