=content_for(:div, 0)
.container-full
  .row
    .col-lg-4.text-center.v-center
      %h1{:class => "title"} SHPE Test Bank
      %p.lead Be prepared for your test
      %br/
    

 
      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'col-lg-12 login form form-horizontal'}) do |f|
        .form-group
          = f.label :email, :class => "col-sm-2 control-label"
          = f.email_field :email, autofocus: true
        .form-group
          = f.label :password,  :class => "col-sm-2 control-label"
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .form-group
            .col-sm-offset-2.col-sm-10
              %label
                %input{:type => "checkbox"}/
                Remember me
        %br/
        %br/
        .actions
          =f.submit 'Log in',:class => "btn btn-lg btn-primary"
      = render "devise/shared/links" 
      = link_to "Sign Out", destroy_user_session_path, :method => :delete      
        
  / /row
  .row
    .col-lg-12.text-center.v-center{:style => "font-size:39pt;"}
      %a{:href => "http://tamushpe.org/"}
        %i.icon-globe
      %a{:href => "https://www.facebook.com/groups/SHPETamu/"}
        %i.icon-facebook
      %a{:href => "https://twitter.com/tamushpe"}
        %i.icon-twitter
      %a{:href => "https://github.com/bote795/SHPETestBank"}
        %i.icon-github
      %a{:href => "https://instagram.com/tamushpe/"}
        %i.icon-instagram
  %br/
/ /container full
.container
  %hr/
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Hello.
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit amet augue.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Hello.
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit amet augue.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Hello.
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
          dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
          Aliquam in felis sit amet augue.
  .row
    .col-lg-12
      %br/
      %br/
      %p.pull-right
        %a{:href => "http://www.bootply.com"} Template from Bootply
        ©Copyright 2013 ACME
        %sup TM
        Brand.
      %br/
      %br/