=content_for(:title, "Classes")

%table.table.table-striped.table-hover
  %tr
    %th Name
    %th
    %th
    %th

  - @class_names.each do |class_name|
    %tr
      %td= class_name.name
      %td= link_to 'Show', class_name
      %td= link_to 'Edit', edit_class_name_path(class_name)
      %td= link_to 'Destroy', class_name, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Class name', new_class_name_path
