= form_for @test_entry do |f|
  - if @test_entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@test_entry.errors.count, "error")} prohibited this test_entry from being saved:"
      %ul
        - @test_entry.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .field
      = f.label :link, class: "col-lg-2 control-label"
      .col-lg-10 
        = f.text_field :link, class: "form-control" 
  .form-group
    .field
      = f.label :semester, class: "col-lg-2 control-label"
      .col-lg-10 
        = f.text_field :semester, class: "form-control" 
  .form-group
    .field
      = f.label :teacher, class: "col-lg-2 control-label"
      .col-lg-10 
        = f.text_field :teacher, class: " form-control" 
  .form-group
    .field
      = f.label :grade, class: "col-lg-2 control-label"
      .col-lg-10 
        = f.text_field :grade, class: " form-control" 
  .form-group
    .field
      = f.label :className_id, class: "col-lg-2 control-label"
      .col-lg-10 
        = f.collection_select(:className_id , ClassName.order('name').all, :id ,:name, {}, {:class => "form-control"}) 
  .form-group
    .field
      = f.label :classTestName_id, class: "col-lg-2 control-label" 
      .col-lg-10
        = f.collection_select(:classTestName_id , ClassTestName.order('name').all, :id ,:name, {}, {:class =>"form-control"}) 
  .form-group
    .col-lg-10.col-lg-offset-2
      .actions
        = f.submit 'Save', class: "btn btn-primary"
