=content_for(:title, "Test Management")
= link_to 'New Test', new_test_entry_path, :class => "btn btn-default"
= link_to 'Batch Insert', batch_insert_test_entries_path, :class =>"btn btn-info"
%br
%br
%table.table.table-striped.table-hover
  %tr
    %th Course
    %th Test
    %th Professor
    %th Semester
    %th Grade
    %th Link
    %th
    %th

  - @test_entries.each do |test_entry|
    %tr
      %td= ClassName.find(test_entry.className_id).name
      %td= ClassTestName.find(test_entry.classTestName_id).name
      %td= test_entry.teacher
      %td= test_entry.semester
      %td= test_entry.grade
      %td= link_to 'Exam', test_entry.link, :class => "btn btn-link"
      %td= link_to 'Edit', edit_test_entry_path(test_entry), :class => "btn btn-link"
      %td= link_to 'Delete', test_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-link"