= form_for @member_email do |f|
  - if @member_email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member_email.errors.count, "error")} prohibited this member_email from being saved:"
      %ul
        - @member_email.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.email_field :email
  .actions
    = f.submit 'Save'
