%h1 Listing member_emails

%table
  %tr
    %th Email
    %th
    %th
    %th

  - @member_emails.each do |member_email|
    %tr
      %td= member_email.email
      %td= link_to 'Show', member_email
      %td= link_to 'Edit', edit_member_email_path(member_email)
      %td= link_to 'Destroy', member_email, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member email', new_member_email_path
