%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "MHMR-Troubleshooter System for ticket submission", :name => "description"}
    =# favicon_link_tag 'favicon.ico'

    %title= yield(:title)
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag  "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %div

      - if  user_signed_in?
        = render 'layouts/navbar'
        - if flash[:notice]
          #alert
            %a.alert.alert-s{:href => "#alert"}= flash[:notice]
        - if flash[:alert]
          #alert
            %a.alert.alert-d{:href => "#alert"}= flash[:alert] 
        .container
          =yield

      - if !(user_signed_in?)
        .content
          =yield
